@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rubik-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rubik-Bold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Raleway Extrabold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Raleway-ExtraBold.woff2");
  font-display: swap;
}
.hidden {
  display: none!important;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  background-color: #fffff;
  color: #444444;
}

/* Global containers */
.main-container {
  flex-grow: 1;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.column-group {
  display: flex;
  justify-content: space-between;
}
.catalog-columns {
  display: flex;
}
.page-header {
  background-color: #FFE17F;
  padding: 0 60px;
}
.inner-header {
  padding: 37px 0px 49px;
}
.page-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin:0 0 14px;
}


/* Navigation */
.top-navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-list {
  list-style: none;
}
.main-nav-list a {
  text-decoration: none;
}
.navigation-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;

}
.main-nav-list {
  display: flex;
  list-style: none;
}
.main-nav-link {
  font-family: "Raleway Extrabold", sans-serif;
  text-transform: uppercase;
  font-size: inherit;
  line-height: 21px;
  color: #000000;
}
.sub-nav {
  list-style: none;
}
.sub-nav-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

/* Slider */
.slider {
  margin-bottom: 70px;
}
.slider-column {
  width: 560px;
}
.slider-item {
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider-number {
  font-family: inherit;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: white;
}

.slider-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.slider-specs-list {
  display: flex;
}
.slider-specs-term {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 30px;

}
.slider-specs-definition {
  font-family: inherit;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* Product Categories */

.product-categories-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.product-categories-item {
  width: 160px;
  margin-right: 20px;
}
.product-categories-item-wrapper {
  height: 160px;
  width: 160px;
  background-color: #FFE17F;
  margin-bottom: 33px;
}
.product-categories-link {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/* Services Block */
.services {
  display: flex;
  background-color: #F0F0F0;
}
.services-container {
  display: flex;
}
.services-list {
  display: flex;
  width: 280px;
  flex-direction: column;
  list-style: none;
}
.services-item-featured {
  margin-left: 120px;
  width: 560px;
}
.services-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.services-description {
  font-family: inherit;
  line-height: 30px;
}

/* Custom Order Link */
.custom-order {
  margin-top: 90px;
  height: 100px;
  background-color: #F0F0F0;
}
.custom-order-link {
  display: flex;
  text-align: center;
}
.custom-order-icon {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}
.custom-order-heaadline {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 910px;
  align-self: center;
}

/* About Us */
.about-us {
  width: 560px;
  padding: 97px 0 87px;
}
.about-us-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}
.about-us-desc {
  font-family: inherit;
  line-height: 30px;
}
.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

/* Contacts  */
.contacts {
  width: 560px;
  padding: 97px 0 87px;
}
.contacts-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}
.contacts-description {
  font-family: inherit;
  line-height: 30px;
}
.contacts-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.contacts-time {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.contacts-phone-number {
  color: #444444;
  line-height: 30px;
}

/* Subscribe  */
.subscribe {
  background-color: #F0F0F0;
  padding: 75px 0 134px;
}
.subscribe-header {
  display: flex;
}
.subscribe-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
  margin: 0;
}
.subscribe-desc {
  width: 560px;
}
.subscribe-form {
  width: 860px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}
.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  opacity: 0.6;
}


/* Filter */
.side-filter {
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
}
.side-filter-wrapper {
  width: 236px;
  margin-right: 32px;
}
.side-filter-header {
  min-height: 70px;
  background-color: #DCDCDC;
}

.side-filter-header-title {
  padding: 25px 32px 25px;
  width: 236px;
  font-family: "Raleway Extrabold", sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 0.2em;
  margin: 0;
}

.catalog-area {
  width: 832px;
}
.catalog-filter {
  margin-top: 71px;
  background-color: #EBEBEB;
}
.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -2%;
  color: #000000;
}
.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}


.catalog-sorter {
  min-height: 70px;
  background-color: #EBEBEB;
}
.catalog-sorter-title {
  font-family: "Raleway Extrabold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

/* Products */
.catalog-list {
  list-style: none;
  padding: 0;
}
.catalog-item-title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}
.catalog-item-price {
  font-family: inherit;
  line-height: 21px;
  text-align: right;
}
.new-arrival {
  font-family: "Raleway Extrabold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-align: center;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 51px auto;
  background-color: #EBEBEB;
}
.pagination-left,
.pagination-right {
  font-family: "Raleway Extrabold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 20%;
  color: #000000;
  text-transform: uppercase;
}
.pagination-list {
  display: flex;
  width: 175px;
  list-style: none;
}
.pagination-link {
  color: #444444;
  line-height: 19px;
  text-align: center;
}

/* Footer  */
.page-footer {
  background-color: #444444;
  height: 321px;
}
.footer-address {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-nav {
  display: flex;
}
.footer-nav-item:not(:last-child) {
  margin-right: 10px;
}
.footer-nav-link {
  font-family: 'Raleway Extrabold',sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
}
.footer-phone {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  text-decoration: none;
}
.footer-top,
.footer-middle,
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

/* Button */
.button {
  font-size: inherit;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 20%;
  text-transform: uppercase;
  border: none;
}
.button-active {
  background-color: #000000;
  color: #FFE17F;
}
.button-load-more {
  font-family: "Raleway Extrabold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-align: center;
  width: 100%;
  height: 55px;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
